body
{
	background-image: url('Recursos/Fondo.png');
	background-repeat: no-repeat;
 	 background-size: 1360px 670px;
	text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

div
{
	width: 400px;
	background-color: #DD9C3CC5;
	border-radius: 20px;
}

div:hover
{
	background: #DD9C3CE6;
}